

/* Interface */

#interface-hud {
    position: absolute;
    z-index: 130;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    color: #BBC4E5;
}




/* Leaderboard */

#leaderboard-hud {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
    right: 5px;
    padding: 10px;
    top: 5px;
    background: rgba(0, 0, 0, 0.50)
}

#leaderboard-head {
    text-align: right;
    color: #fff;
    font-weight: 300;
    font-size: 17px!important
}

#leaderboard-positions {
    color: #fff;
    text-align: right;
    font-weight: 300
}

.lb-row {
    display: block
}

.lb-nick {
    display: inline-block;
    font-size: 13px;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    line-height: 22px;
    vertical-align: middle
}

.lb-mass {
    font-size: 12px;
    font-weight: 300;
    display: inline-block;
    width: 35px;
    color: #fff;
    line-height: 22px;
    vertical-align: middle
}

.lb-position {
    font-size: 13px;
    font-weight: 300;
    display: inline-block;
    width: 18px;
    color: #fff;
    line-height: 22px;
    vertical-align: middle
}

#leaderboard-chart {
    float: right;
    display: none;
    font-size: 0
}

.chart-bar {
    height: 20px;
    width: 150px;
    box-shadow: 0 0 5px #000;
    background: #fff;
    margin-bottom: 5px;
    border-radius: 0;
    margin-left: auto;
    margin-right: 0
}

.chart-bar.red {
    background: #e52105
}

.chart-bar.green {
    background: #06e531
}

.chart-bar.blue {
    background: #0c1ae5
}


/* Team players*/

#top5-hud {
    width: 245px !important;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
    left: 5px;
    padding: 10px;
    top: 5px;
    color: #fff;
    background: rgba(0, 0, 0, 0);
    font-size: 14px !important;
}

#change-limit {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#team-data {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row
}

#team-data .team-data-slot {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    font-size: 14px;
    line-height: 18px;
    color: #cccccc;
    margin-right: 5px;
    padding: 3px 6px;
    border-radius: 2px;
    background: rgba(255, 0, 0, 0.50)
}

#team-data .team-data-slot i {
    font-size: 18px;
    margin-right: 4px
}

#teamlist-rank {}

#teamlist-rank a {
    font-size: 13px;
    color: #fff;
    font-weight: normal;
    display: inline-block;
    margin-right: 10px;
}

#teamlist-rank .active {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.tl-player {
    vertical-align: middle;
}

.tl-position {
    display: inline-block;
    width: 14px;
    font-size: 13px;
    vertical-align: middle;
    overflow: hidden
}

.tl-player-location {
    display: inline-block;
    min-width: 28px;
    vertical-align: middle;
    overflow: hidden;
    margin-left: 5px;
}

.tl-player-mass {
    display: inline-block;
    min-width: 38px;
    vertical-align: middle;
    overflow: hidden;
    margin-left: 5px;
}

.tl-player-nick {
    font-weight: 300;
    display: inline-block;
    min-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    margin-left: 5px;
}

.tl-player-massbar {
    height: 2px;
    width: 100%;
    background: #0d47a1;
    box-shadow: 0 0 3px #000
}

.tl-player-massbar-inner {
    width: 50%;
    height: 100%;
    background: #fff
}

.minicolors-swatch {
    margin-top: 6px;
    border: 2px solid #33374d
}
